<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.xam.course.example1">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="30" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<application android:label="xam.course.example1.Droid">
		<meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyANLilY2UiySLQD9tsrsmwRvAqT_eAjNMI" />
	</application>
</manifest>